
    html{
        background-color: #d0def5;     
        padding-top: 40px;
    }
    body{
        margin-top: 40px;
        font-family: 'Oswald', sans-serif; 
      }
      ul{
          margin: 0;
          padding: 0;
          list-style: none;
      }
      h1,p{
          margin: 0;
      }
    .container{
        width: 900px;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    img{
         max-width: 100%;
    }
    .header{
        margin: 0 auto;
        padding: 40px 40px 0px 40px;
        box-sizing: border-box;
    }
    .header__contacts-list{
        width: 600px;
        display: flex;
        justify-content: space-between;
    }
    .header-wrapper__title{
        margin-left: 70px;
    }
    .header__title{
        font-size: 40px;
    }
    .header__subtitle{
        font-size: 16px;
    } 
    .header-wrapper__avatar img{
        width: 200px;
        border-radius: 50%;
    }
    .header__wrapper{
        display: flex;
    }
    .main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 40px 40px 40px;
        box-sizing: border-box;
    }
    .skill{
        width: 400px;
    }
    .contacts{
        width: 300px;
    }
   
    .contacts__list{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .about{
        width: 400px;
    }
    
